/* 
Instructions:

* Body
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777;
  background: #777;
  width: 960px;
  font-size: 18px;
Header, Nav, Section, Aside, and Footer
  background: #ebebeb;
Article
  color: #ebebeb;
  background: #777;
h1 and p
  olor: #777;
  background: #ebebeb;

The widths of each section should be:
    width: 495px;
   
   */

* {
  box-sizing: border-box;
  text-align: center;
}

body {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777;
  background: #777;
  width: 960px;
  font-size: 18px;
	line-height: 32px;
  margin: auto;
}

header {
  background: #ebebeb;
	padding: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

nav {
  background: #ebebeb;
	padding: 30px;
	margin-bottom: 20px;
}

#section1 {
  background: #ebebeb;
	width: 495px;
	height: 300px;
	padding-top: 30px;
  margin-bottom: 20px;
  float: left;
}

#article1 {
  color: #ebebeb;
  background: #777;
	width: 475px;
	height: 220px;
	margin: 10px 10px 10px 10px;
	padding-top: 10px;
}

#h123 {
  color: #777;
  background: #ebebeb;
	width: 440px;
	height: 70px;
	margin: 10px 30px 10px 15px;
	padding-top: 20px;
	font-weight: bold;
}

#p1 {
  color: #777;
  background: #ebebeb;
	width: 440px;
	height: 70px;
	margin: 10px 30px 10px 15px;
	padding-top: 15px;
}

#aside1 {
  background: #ebebeb;
	width: 440px;
	height: 300px;
	padding-top: 20px;
	float: right;
}

#footer1{
  background: #ebebeb;
	clear: both;
	padding: 30px;
}